.container {
  background-color: #000;
  color: #999;
  height: 500px;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #111;
}

.button {
  background-color: #333;
  color: #999;
  border: 1px solid #555;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none;
}

.button:focus {
  outline: none;
}

.button:hover {
  background-color: #444;
}

.main {
  display: flex;
  flex: 1;
  padding: 20px;
  gap: 20px;
  overflow: hidden; /* Предотвращаем вылезание содержимого */
}

.log {
  flex: 1;
  background-color: #111;
  padding: 20px;
  overflow: hidden; /* Ограничиваем внутренний контент */
  border: 1px solid red; /* Для отладки */
  display: flex;
  flex-direction: column;
}

.logContent {
  flex: 1;
  overflow-y: auto; /* Только вертикальная прокрутка */
}

.char {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: #fff;
  text-align: center;
}

.stats {
  flex: 1;
  background-color: #111;
  padding: 20px;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #111;
}
